<section class="property-binding">
  <article>
    <h3>interpolação</h3>
    <p>teste de interpolação: {{ url }}</p>
    <p>teste de interpolação: {{ 1 + 1 }}</p> 
    <p>teste de interpolação: {{ 1 + 1  + getValor()}}</p> 
    <p>teste de interpolação: {{ cursoAngular && getCurso() }}</p> 
  </article>

  <article>
    <h3>property binding </h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
  </article>

   <article>
    <h3>Class e Style binding</h3>
    <div> 
      Escolha uma opção:
      <!-- #classe é tipo uma variavel local, (change) é um evento-->
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br>

      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido 
      </div>

      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        Texto colorido só aparece se ele 
      </div>
    </div>
  </article>

  <article>
    <h3>Event binding</h3>
    <div>
      <button (click)="clica()" class="btn btn-primary">Click - me</button>
    </div>

    <input type="text" (keyup)="onKeyUp($event)">
    <p>valor atual: {{ valorAtual }}</p>
  </article>

  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input type="text" [value]="nome" (input)="nome= $event.target.value"/>
      <p>voce digitou: {{ nome }}</p>

      <!-- two-way -->
      <input type="text" [(ngModel)]="nome">
    </div>
    <div>
      <p>Eu {{pessoa.nome}}, tenho {{pessoa.idade}}</p>
      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">
    </div>
  </article>

  <article>
    <h3>Input / Output properties</h3>
    <div>
      input
      <app-input-property [nome]="nomeDoCurso"></app-input-property>
    </div>
   <div>
     <!-- ficar atento se for variavel tem q passar com o [] -->
     <app-output-property valor=10 (mudouValor)="onMudouValor($event)"></app-output-property>
   </div>
  </article>
</section>